# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = 0xAquaWolf
	email = 0xaquawolf@protonmail.com
[core]
	editor = nvim
  pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    features = catppuccin-mocha
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[delta "catppuccin-mocha"]
	blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
	commit-decoration-style = "box ul"
	dark = true
	file-decoration-style = "#cdd6f4"
	file-style = "#cdd6f4"
	hunk-header-decoration-style = "box ul"
	hunk-header-file-style = "bold"
	hunk-header-line-number-style = "bold #a6adc8"
	hunk-header-style = "file line-number syntax"
	line-numbers = true
	line-numbers-left-style = "#6c7086"
	line-numbers-minus-style = "bold #f38ba8"
	line-numbers-plus-style = "bold #a6e3a1"
	line-numbers-right-style = "#6c7086"
	line-numbers-zero-style = "#6c7086"
	# 25% red 75% base
	minus-emph-style = "bold syntax #53394c"
	# 10% red 90% base
	minus-style = "syntax #35293b"
	# 25% green 75% base
	plus-emph-style = "bold syntax #40504b"
	# 10% green 90% base
	plus-style = "syntax #2c333a"
	map-styles = \
		bold purple => syntax "#494060", \
		bold blue => syntax "#394361", \
		bold cyan => syntax "#384d5e", \
		bold yellow => syntax "#544f4e"
	# Should match the name of the bat theme
	syntax-theme = "Catppuccin Mocha"
