# Ignore temporary files and directories
*.swp
*.swo
*.bak
*.tmp
*~

# Ignore system-specific files
.DS_Store
.Trash
._*

# Ignore log files
*.log

# Ignore directories created by GNU Stow
stow-local-ignore/
stow-global-ignore/

# Ignore any backup files
*.bak
*.old
*.orig

# Ignore other common unwanted files
.idea/
.vscode/
.cache/
.history/
node_modules/
target/
vendor/

obs/*.mp4

espanso/.config/espanso/match/private/*
