layout {
  default_tab_template {
      // the default zellij tab-bar and status bar plugins
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      children
      pane size=2 borderless=true {
          plugin location="zellij:status-bar"
      }
  }
  tab name="dev" {
    pane size="80%"
    pane size="20%" split_direction="vertical" {
      pane
      pane
    }
  }
}
